
#fast_facts {
    padding:10px;
    margin-top: 58px;
}

.weather {
    border: 2px solid lightgrey;  
    font-size: 12px;
    padding-left: 5px;
    overflow: hidden;

}


.main {
    padding-top: 40px;
    padding-bottom: 140px;
}

#hemispheres {
    padding-left: 300px;
}


h3 {
    font-weight: bold;
}

h4 {
    font-weight: bold;
}


h5 {
    font-weight: 800;
}


#Hemisphere_header {
    text-align: center;
    padding-top: 20px;
}

table {
    table-layout: auto;
    border-collapse: collapse;
    width: 100%;
    font-size: 12px
}

body {
    padding-bottom: 200px;
}

